<%- include("partials/header.ejs")%>



    <h2>My Daily Journal</h2>
    <p>
        <%=startingContent%>
    </p>


    <%posts.forEach(function(post){%>
        <form action="/delete" method="POST">
            <h3>
                <%= post.title%>
            </h3>
            <p>
                <%=post.content.substring(0, 99) + "...." %> <a href="/posts/<%= post._id%>">Read more</a>
            </p>
             <button class="btn btn-danger btn-sm" type="submit" name="delete" value="<%=post._id %>"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color: white; color: red;">Delete</button>
            <button class="btn btn-success btn-sm" type="button" name="Edit" value="<%=post._id %>"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color: #1abc9c; color: aliceblue;">Edit</button>
        </form>
        <%})%>



            <%- include("partials/footer.ejs") %>
